.regiones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.region {
    background-color: #272121;
    border-radius: 15px;
    margin: 20px 30px 10px 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 40vw;

    text-align: center;
}

.region:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #1DB954;
    cursor: pointer;
}

.region-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    background-color: #272121;
    border-radius: 15px;
    margin: 60px 30px 10px 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.titulo-region {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
}

.titulo-region img {
    object-fit: contain;

}

.titulo-region img:hover {
    cursor: pointer;
}

.paises-region {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
}
.cancion-individual{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.cancion-titulo {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    color: #1DB954;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 0.2px solid rgb(91, 88, 88);
    text-overflow: overflow;
   
}

.genero-titulo {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    color: #1DB954;
    margin-top: -15px;
    padding-bottom: 20px;
    border-bottom: 0.2px solid rgb(91, 88, 88);
    text-overflow: overflow;
   
}

.pais-cancion{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #1DB954;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(91, 88, 88);
    border-top: 1px solid rgb(91, 88, 88);
}
.paises-container{
    margin-bottom: 55px;
}

